*{
    margin:0;
    padding:0;
}
.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.movie-cart{
    display: flex;
    margin-top:100px;
    width:100%;
    padding:0px 15px;
    max-width:900px;
}

.movie-cart__img{
    flex:1 0 200px;
}
.search-current-movie{
    margin:15px 0 0 15px;
}
.movie-cart__img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.movie-cart__text-block{
   margin-left:50px;
   display: flex; 
  flex-direction: column;
}

.movie-cart__text-block h2{
    margin-bottom: 25px;
}
.movie-cart__text-block p{
    margin-bottom: 20px;
}

.btn{
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    padding:10px;
    background-color: rgb(103, 57, 231);
    color:#fff;
    text-decoration: none;
    display: inline-block;
}

.search-current-movie__button{
     margin-left:10px;
}

.popular-movies__item img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.popular-movies{
    margin:15px 50px 0 15px;
}
.popular-movies h2{
    margin-bottom: 25px;
}
.popular-movies__block{
    margin-top: 50px;
}
.rating{
    color:rgb(230, 172, 26);
}

.best-movies{
    margin:15px 50px 0 15px;
}
.best-movies h2{
    margin-bottom: 20px;
}
.best-movies__item{
    display: flex;
    flex-direction: column;
}
.best-movies__item img{

    width:80%;
    height:80%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}
.block{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    row-gap: 20px;
    column-gap: 20px;
    margin-top:50px;
}

.upComming {
    margin:15px 50px 0 15px;
}
.upComming h2{
    margin-bottom: 20px;
}
.upComming__item img{
    width:100%;
    height: 100%;
}


.film-favourite{
    cursor: pointer;
    width:45px;
    height:45px;
    position: relative;

}
.film-favourite svg{
    color:rgb(230, 45, 45);
    width:90%;
    height: 90%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.movieBlock{
    display: flex;
    flex-direction: column;
}
.movieBlock img{
    width:100%;
    height:90%;
    object-position: center;
    object-fit: cover;
}

.movieBlock .like{
    align-self: flex-end;
}
.btn--loadMore{
    margin:50px 0 50px 0;
}
.btn--hovered{
    display: none;
}
.banner-item{
    width:200px;
    margin:0 auto;
}
.banner-item img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}